{% load thumbnail %}
<!DOCTYPE html>
<html>
    <head>
        <title>FitNGo! | {% block title %} {% endblock %}</title>
        <meta charset="utf-8">
        <meta name='yandex-verification' content='443192a1e0323ae1' />
        <link rel="stylesheet" href="/static/css/style.css"/>
        <link rel="stylesheet" href="/static/css/colorbox.css"/>
        <script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/static/js/script.js"></script>
        <script type="text/javascript" src="/static/js/jquery.colorbox-min.js"></script>
        <meta name="viewport" content="width=1100">
        {% block head %}
        {% endblock %}
    </head>
    
    <body>
        <div class="layout">
            <div class="popup__layout"></div>
            
            {% include 'dialogs.html' %}
            
            <div class="wrapper">
                <header>
                    <nav class="g-nav">
                        <ul>
                            {% for m in menu %}
                                <li><a href="{{ m.href }}">{{ m.title }}</a>
                                {% if m.submenu.all %}
                                    <ul>
                                        {% for s in m.submenu.all %}
                                            <li><a href="{{ s.href }}">{{ s.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                </li>
                            {% endfor %}
                            
                        </ul>
                        
                    </nav>
                    
                    <div class="header__contacts">
                        
                        <span class="header__contacts__phone"> 
                        <span class='soc_icons_top' style='padding: 0px; margin: 0px; height: 35px; margin-right: 15px'>
			    <a href='http://instagram.com/fit_n_go_/' target='_blank'><img src='/static/img/instagram.png' style='width: 30px'></a>
                            <a href='https://www.facebook.com/fitngo.ru' target='_blank'><img src='/static/img/facebook.png' style='width: 30px;'></a>
                            <a href='http://www.youtube.com/channel/UClZjoXRWWU_Y9bd7rDzjtlw' target='_blank'><img src='/static/img/youtube_3.png' style='width: 30px'></a>
                        </span>
                        +7(495) 969 88 69 </span>
                        <span class="back form-btn btn-yellow" style='width: 220px; margin-left: 20px'> <input value="Записаться"  style='width: 220px' id="sign"/> </span>
                        
                    </div>
                    <a class="homelink" href="/"></a>
                    
                </header>
                
                {% block wrapper %}
                {% endblock %}
                
                <footer>
                    <div class="footer__soc">
                        <div class="footer__soc__title">Будь в курсе спецпредложений:</div>
                        <div class="footer__soc__block">
                            <a target="_blank" class="fb" href="https://www.facebook.com/fitngo.ru"> </a>
                            <a target="_blank" class="mail" href="#"> </a>
                            <a target="_blank" class="tw" href="https://twitter.com/Fit_n_go"> </a>
                            <a target="_blank" class="skype" href="#"> </a>
                            <a target="_blank" class="yt" href="http://www.youtube.com/channel/UClZjoXRWWU_Y9bd7rDzjtlw"> </a>
                            <a target="_blank" class="odn" href="#"> </a>
                            <a target="_blank" class="vk" href="http://vk.com/fitngo"> </a>
                            <a target="_blank" class="icon-last" href="#"> </a>
                        </div>
                    </div>
                    <div class="footer__slider__wrap">
                        <div class="footer__part__title">Наши партнеры:</div>
                        <div class="footer__slider">
                            <div class="footer__slider__container">
                                {% for p in partners %}
                                    <div class="footer__slider__i">
                                        {% thumbnail p.logo "x50" as im %}
                                            <a href='{{ p.url }}' target='_blank'>
                                                <img src="{{ im.url }}" />
                                            </a>
                                        {% endthumbnail %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="footer__slider__next"></div>
                        <div class="footer__slider__prev"></div>
                        
                    </div>
                    <div class="footer__contacts">
                        +7(495) 969 88 69
                        <span>© 2013 «Fit-n-go!»</span>
                        <span style='margin-top: -3px; font-size: 0.5em'><a href='http://webgenesis.ru/' target='_blank' >Создание сайта</a></span>
                    </div>
                </footer>
            </div>
            
            <div class="layout__bottom"></div>
        </div>
    </body>
</html>
    
{% if not is_debug %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23183059 = new Ya.Metrika({id:23183059,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23183059" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = '121915';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
{% endif %}
