<div class="popup popup-sign">
    <span class="popup___close"></span>
    <div class="popup__title"> Записаться на пробную тренировку
    </div>
    <form action="" method='POST'>
        <span class="back"> <input type="text" placeholder="Ваше имя" name="name" value='{% if form.name.value %}{{ form.name.value }}{% endif %}' {% if form.errors.name %} style='border: 1px solid red' {% endif %} />  </span>
        <span class="back"> <input type="text" placeholder="Ваш телефон" name="phone" value='{% if form.phone.value %}{{ form.phone.value }}{% endif %}' {% if form.errors.name %} style='border: 1px solid red' {% endif %}/>  </span>
        <span class="back"> <input type="text" placeholder="Ваш email" name="email" value='{% if form.email.value %}{{ form.email.value }}{% endif %}'/>  </span>
<!--                     <span class="back"> <input type="text" placeholder="Дата и время тренировки" name='datetime' value='{% if form.datetime.value %}{{ form.datetime.value }}{% endif %}'/>  </span> -->
<!--                     <span class="back"> <input type="text" placeholder="Номер карты" name="card" value='{% if form.card.value %}{{ form.card.value }}{% endif %}'/>  </span> -->
        <span class="back form-btn btn-yellow"> <input type="submit" value="Записаться"/> </span>
        <input type='hidden' name='action' value='signup'>
        {% csrf_token %}
    </form>
</div>

{% if show_signup %}
    <script>
        $('.popup__layout').fadeIn();
        $(".popup-sign").fadeIn(500);
    </script>
{% endif %}
            
<div class="popup popup-get">
    <span class="popup___close"></span>
    <div class="popup-get__title">
    <h5>Запишитесь на пробную тренировку и получите <span class="text_red">диагностику организма <br/>
                        в подарок!</span></h5>
    </div>
    <form action="" method='POST'>
        <span class="back"> <input type="text" placeholder="Ваше имя" name="name" value='{% if form.name.value %}{{ form.name.value }}{% endif %}' {% if form.errors.name %} style='border: 1px solid red' {% endif %}/>  </span>
        <span class="back"> <input type="text" placeholder="Ваш телефон" name="phone" value='{% if form.phone.value %}{{ form.phone.value }}{% endif %}' {% if form.errors.name %} style='border: 1px solid red' {% endif %}/>  </span>
        <span class="back"> <input type="text" placeholder="Ваш email" name="email" value='{% if form.email.value %}{{ form.email.value }}{% endif %}'/>  </span>
        <span class="back"> <input type="text" placeholder="Дата и время тренировки" name='datetime' value='{% if form.datetime.value %}{{ form.datetime.value }}{% endif %}'/>  </span>
        <span class="back form-btn btn-yellow"> <input type="submit" value="Получить"/> </span>
        <input type='hidden' name='action' value='get'>
        {% csrf_token %}
    </form>
</div>

{% if show_get %}
    <script>
        $('.popup__layout').fadeIn();
        $(".popup-get").fadeIn(500);
    </script>
{% endif %}

            
<div class="popup popup-gift">
    <span class="popup___close"></span>
    <div class="popup-gift__title">
    <h5>Я хочу приобрести <span class="text_red">подарочный сертификат <br /> FIT-N-GO !</span></h5>
    </div>
    <form action="" method='POST'>
        <span class="back"> <input type="text" placeholder="Ваше имя" name="name" value='{% if form.name.value %}{{ form.name.value }}{% endif %}' {% if form.errors.name %} style='border: 1px solid red' {% endif %}/>  </span>
        <span class="back"> <input type="text" placeholder="Ваш телефон" name="phone" value='{% if form.phone.value %}{{ form.phone.value }}{% endif %}' {% if form.errors.phone %} style='border: 1px solid red' {% endif %}/>  </span>
        <span class="back"> <input type="text" placeholder="Ваш email" name="email" value='{% if form.email.value %}{{ form.email.value }}{% endif %}'/>  </span>
        <span class="back"> <input type="text" placeholder="Комментарий" name='comment' value='{% if form.comment.value %}{{ form.comment.value }}{% endif %}'/>  </span>
        <span class="back form-btn btn-yellow"> <input type="submit" value="Приобрести"/> </span>
        <input type='hidden' name='action' value='gift'>
        {% csrf_token %}
    </form>
</div>

{% if show_gift %}
    <script>
        $('.popup__layout').fadeIn();
        $(".popup-gift").fadeIn(500);
    </script>
{% endif %}


<div class="popup popup-franchajzing">
    <span class="popup___close"></span>
    <div class="popup-franchajzing__title">
    <h5>Я хочу открыть студию <span class="text_red"> <br /> FIT-N-GO !</span><br /></h5>
    </div>
    <form action="" method='POST'>
        <span class="back"> <input type="text" placeholder="Имя" name="name" value='{% if fform.name.value %}{{ fform.name.value }}{% endif %}' {% if fform.errors.name %} style='border: 1px solid red' {% endif %}/>  </span>
        <span class="back"> <input type="text" placeholder="Фамилия" name="lname" value='{% if fform.lname.value %}{{ fform.lname.value }}{% endif %}' {% if fform.errors.fname %} style='border: 1px solid red' {% endif %}/>  </span>
        <span class="back"> <input type="text" placeholder="Телефон" name="phone" value='{% if fform.phone.value %}{{ fform.phone.value }}{% endif %}' {% if fform.errors.phone %} style='border: 1px solid red' {% endif %}/>  </span>
        <span class="back"> <input type="text" placeholder="Email" name="email" value='{% if fform.email.value %}{{ fform.email.value }}{% endif %}'/>  </span>
        <span class="back"> <input type="text" placeholder="Населенный пункт" name="city" value='{% if fform.city.value %}{{ fform.city.value }}{% endif %}'/>  </span>
        <span class="back"> <input type="text" placeholder="Комментарий" name='comment' value='{% if fform.comment.value %}{{ fform.comment.value }}{% endif %}'/>  </span>
        <span class="back form-btn btn-yellow"> <input type="submit" value="Приобрести"/> </span>
        <input type='hidden' name='action' value='franchajzing'>
        {% csrf_token %}
    </form>
</div>

{% if show_fform %}
    <script>
        $('.popup__layout').fadeIn();
        $(".popup-franchajzing").fadeIn(500);
    </script>
{% endif %}