<!DOCTYPE html>

<html class="lt-ie9 lt-ie8" lang="ru"><![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="ru"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru"><!--<![endif]-->
<head>
    <title>Palitra</title>
    <meta charset="utf-8"/>
    <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<div class="g-line"></div>
<div class="wrapper">


    <header class="header">
        <h1 class="logo">
            Кадровое агенство Палитра
        </h1>

        <div class="contact">
            <div class="phone">+7 925 089-67-87</div>
            <div class="mail">email: <a href="mailto:>mail@mail.ru">mail@mail.ru</a></div>
        </div>
        <div class="quote">« Я не хочу, чтобы меня характеризовали по моей карьере. Я хочу, чтобы меня характеризовали
            как хорошего человека. » <span class="quote__author">Натаниэль Бузолич</span>
        </div>
        <nav class="g-nav">
            <a class="g-nav_1" href="#">Главная </a>
            <a class="g-nav_2" href="#">Подбор персонала</a>
            <a class="g-nav_3" href="#">Соискателям </a>
            <a class="g-nav_4" href="#">Контакты</a>

        </nav>

    </header>
    <div class="container">
        <aside class="sidebar">
            <section class="form-wrp">
                <div class="form__title">Заявка на подбор персонала</div>

                <form action="">
                    <div class="form">
                        <input type="text" name="name" placeholder="Ваше имя"/>
                        <input type="email" name="email" placeholder="E-mail"/>
                        <textarea name="comment" placeholder="Комментарий"></textarea>
                    </div>
                    <div class="btn-wrap">
                        <input class="btn-send" type="submit" value="Отправить"/>
                    </div>
                </form>

            </section>
            <section class="form-wrp">
                <div class="form__title">Отправить резюме</div>

                <form action="">
                    <div class="form">
                        <input type="text" name="name" placeholder="Ваше имя"/>
                        <input type="email" name="email" placeholder="E-mail"/>
                        <input type="file" value="выбрать файл"/>
                    </div>
                    <div class="btn-wrap">
                        <input class="btn-send" type="submit" value="Отправить"/>
                    </div>

                </form>

            </section>
        </aside>
        <div class="content">
            <div class="breadcrumbs">
                <a href="#">Главная</a>
                <span>Раздел сайта</span>
            </div>
            <div class="content__in">
                <h3>Раздел 1</h3>

                <p>В настоящее время практически любая компания, желающая видеть в своем штате сотрудников
                    высококвалифицированных
                    специалистов, прибегает к поиску кадровых агенств. Обоснованное желание каждого клиента - выбрать
                    лучшее
                    агентство
                    по подбору персонала, которое способно за короткий срок найти нужного специалиста. </p>
                <table>
                    <tr>
                        <th>Вакансия</th>
                        <th>Стаж</th>
                        <th>Оклад</th>
                    </tr>
                    <tr>
                       <td>Инженер ТО</td>
                       <td>1- 2 года</td>
                       <td>30 000 руб.</td>
                    </tr>
                    <tr>
                        <td>Инженер ТО</td>
                        <td>1- 2 года</td>
                        <td>30 000 руб.</td>
                    </tr>
                    <tr>
                        <td>Инженер ТО</td>
                        <td>1- 2 года</td>
                        <td>30 000 руб.</td>
                    </tr>
                    <tr>
                        <td>Инженер ТО</td>
                        <td>1- 2 года</td>
                        <td>30 000 руб.</td>
                    </tr>
                    <tr>
                        <td>Инженер ТО</td>
                        <td>1- 2 года</td>
                        <td>30 000 руб.</td>
                    </tr>
                    <tr>
                        <td>Инженер ТО</td>
                        <td>1- 2 года</td>
                        <td>30 000 руб.</td>
                    </tr>
                    <tr>
                        <td>Инженер ТО</td>
                        <td>1- 2 года</td>
                        <td>30 000 руб.</td>
                    </tr>
                    <tr>
                        <td>Инженер ТО</td>
                        <td>1- 2 года</td>
                        <td>30 000 руб.</td>
                    </tr>
                </table>
            </div>
                <h4>Раздел 2</h4>

                <p>В настоящее время практически любая компания, желающая видеть в своем штате сотрудников
                    высококвалифицированных специалистов, прибегает к поиску кадровых агенств. Обоснованное желание
                    каждого клиента - выбрать лучшее агентство по подбору персонала, которое способно за короткий срок
                    найти нужного специалиста. </p>

                <p>В настоящее время практически любая компания, желающая видеть в своем штате сотрудников
                    высококвалифицированных специалистов, прибегает к поиску кадровых агенств. Обоснованное желание
                    каждого клиента - выбрать лучшее агентство по подбору персонала, которое способно за короткий срок
                    найти нужного специалиста. В настоящее время практически любая компания, желающая видеть в своем
                    штате сотрудников высококвалифицированных специалистов, прибегает к поиску кадровых агенств.
                    Обоснованное желание каждого клиента - выбрать лучшее агентство по подбору персонала, которое
                    способно за короткий срок найти нужного специалиста. </p>

                 <ul class="links">
                     <li><a href="#">Практически любая компания</a></li>
                     <li><a href="#">Желающая видеть в своем штате </a></li>
                     <li><a href="#">Сотрудников высококвалифицированных </a></li>
                     <li><a href="#">Специалистов  прибегает к поиску кадровых агенств</a></li>
                 </ul>

        </div>
    </div>
    <footer class="footer">
        <div class="foot__i">
            1997-2014 © <br/>
            Кадровое агентство

        </div>
        <div class="foot__i">
            Тел.: +7 (495) 677-41-33 (Москва)<br/>
            E-mail: <a class="foot__mail" href="mailto:info@mail.ru">info@mail.ru</a>
        </div>
        <div class="foot__i">
            <div class="foot__info"><img src="img/block.png" alt=""/></div>
            <div class="foot__info"><img src="img/block.png" alt=""/></div>

        </div>
        <div class="foot__i">
            Разработка сайта и<br/> продвижение
        </div>
    </footer>
</div>
</body>
</html>